@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background: #f4f6fb;
}

/* MAIN CARD */
.quiz-container {
  width: 420px;
  background: #ffffff;
  padding: 25px;
  margin: 80px auto;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.quiz-container h2 {
  text-align: center;
}

/* HEADINGS */
.quiz-container h3 {
  color: #6c63ff;
  margin-bottom: 10px;
}

.quiz-container p {
  font-size: 16px;
  margin-bottom: 20px;
}

/* OPTIONS */
.options {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.options label {
  padding: 12px;
  border-radius: 10px;
  border: 2px solid #e0e0e0;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* HIGHLIGHT SELECTED */
.options input[type="radio"] {
  accent-color: #6c63ff;
}

.options input[type="radio"]:checked + span {
  font-weight: 600;
}

/* BUTTONS */
button {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #6c63ff;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

button:hover {
  background: #5848d6;
}

/* RESULT */
.result {
  text-align: center;
}

.result h2 {
  color: #6c63ff;
}
